{%extends "layout.twig"%}
{%block title %}
    Login
{%endblock%}

{%block content %}
    {%if msg%}
        <p>Message: {{msg}}</p>
    {% endif %}
    New Application
{%endblock %}{# empty Twig template #}
