{%extends "layout.twig"%}
{%block title %}
    New Application
{%endblock%}

{%block content %}

    <form id="form" action="/applicant/login/save" method="post">
        <div id="row">
            <h2>Login Information</h2>
            <h2><span>Step 1</span></h2>
        </div> 
        <div id='row'>
            <label for='username'>Email</label>
            <input type="text" id='username' name='username' required size="50"/>
        </div>
        <div id='row'>
            <label for='password'>Password</label>
            <input type="password" id='password' name='password' required size="22"/>
        </div>
        <div id='row'>
            <label for='re-password'>Re-Password</label>
            <input type="password" id='re-password' name='re-password' required size="22" />
        </div>
        <input type="hidden" id='principal' name='principal' value="UserPrincipal"/>
        <div id='row'>
            <label></label>
            <button id='save' name='save'>Register</button>
            <button class="cancel" id='cancel' name='cancel'>Cancel</button>
        </div>

    </form>
{%endblock %}{# empty Twig template #}
